<html>
	<head>
		<script src="https://apis.google.com/js/client:plus.js"></script>
		<script src="https://apis.google.com/js/plus.js?onload=OnLoadCallback">
			window.___gcfg = {
    			lang: 'pt-br',
    			parsetags: 'onload'
  			}
		</script>
		<script type="text/javascript">
		  (function() {
		    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    	po.src = 'https://apis.google.com/js/plusone.js?onload=OnLoadCallback';
		    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  			})();
		</script>
	</head>
	<body>
			
		<script type="text/javascript" src="/components/socket.io-client/dist/socket.io.js"></script>
			<script type="text/javascript">
				var URL = "localhost:5000/app"
				// var URL = 'http://remoter.herokuapp.com:80'	
				URL = "http://"+ URL;
				var socket = io.connect(URL);
  				socket.on('interaction', function (data) {
				    if (data ==="stop_video"){
				    	document.getElementById("video-urso").pause();
					}
 				});
			</script>
			
			<video src="http://www.w3schools.com/html/movie.mp4" controls id="video-urso"></video>
			
			<video src="http://vimeo.com/90616142/download?t=1397700925&v=240188612&s=d6b08f7c31e975a1103cda2d62f1c5b0" style="display:none" id="video-juh"></video>
			
			<span id="signinButton">
			  <span
			    class="g-signin"
			    data-callback="signinCallback"
			    data-clientid="CLIENT_ID"
			    data-cookiepolicy="single_host_origin"
			    data-requestvisibleactions="http://schemas.google.com/AddActivity"
			    data-scope="https://www.googleapis.com/auth/plus.login">
			  </span>
			</span>	
	</body>
</html> 

